.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #0f0f0f;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px; 
}

.not-found-container::before,
.not-found-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.not-found-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.not-found-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.not-found-heading {
    font-weight: bold;
    color: #ffffff;
    font-size: 4rem;
}

.not-found-p {
    font-size: 2rem;
    margin-top: 20px;
    color: #bbbabb;
}

.not-found-link {
  text-decoration: none;
    margin-top: 40px;
    padding: 20px 40px;
    background: #EEF1DA;
    color: black;
    border-radius: 10px;
    transition: background 0.9s ease, color 0.9s ease;
}

.not-found-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  background: #2C2C2C;
  color: white;
}