@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    color: #e0e0e0;
    background-color: #121212;
    overflow: hidden;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.not-found-image {
    height: 150px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-bottom: 40px;
    animation: float 4s ease-in-out infinite;
}

.not-found-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.not-found-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.2),
        0 0 20px rgba(255, 255, 255, 0.1);
}

.not-found-p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    color: #a0a0a0;
    max-width: 400px;
}

.not-found-link {
    text-decoration: none;
    margin-top: 50px;
    padding: 15px 35px;
    background: #007bff;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.not-found-link:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.4);
}
