.about-div {
    min-height: 100vh;
  	display: flex;
	flex-direction: column;
	color: white;
	font-family: sans-serif;
	line-height: 1.6;
	padding: 2rem;
	text-align: center;
	margin: auto;
	background-color: #0f0f0f;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px; 
}

.about-div::before,
.about-div::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.about-div::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.about-div::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.about-h1 {
	margin: 0;
	font-size: 3.5rem;
	color: white;
    margin-top: 10px;
}

.about-span {
    line-height: 2;
}

.hover-a-about {
	color: grey;
}

.hover-a-about:hover {
	color: #9FB3DF;
}