body {
  /* background-color: #394039;
  background-image: linear-gradient(0deg, #394039 0%, #8cc69a 69%); */
  color: white;
  /* min-height: 100vh; */
  /* background-attachment: scroll; */
}

.home-container {
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #0f0f0f;
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 20px 20px; 
}

.home-container::before,
.home-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.home-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.home-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.div-one {
  width: 70%;
  text-align: center;
  border: 1px solid #2C2C2C;
  border-radius: 10px;
}

.div-two {
  text-align: center;
  width: 70%;
  border: 2px solid #2C2C2C;
   border-radius: 10px;
}

.div-two > h1 {
  color: beige;
  width: 65%; 
  margin: 0 auto;
}

.div-three {
  background: black;
  border: 2px solid #2C2C2C;
  border-radius: 20px;
  width: 70%;
  text-align:center;
  /* height: 50vh; */
}

.div-three > p {
  height: 250px;
  margin: 7% auto;
  width: 70%;
  font-size: 30px;
}

.quote-text {
  color: white;
  text-align: center;
  width: 65%;
  margin: 0 auto;    
  font-size: 1.5rem;
  line-height: 1.5;
}

.home-login-div {
  display: flex;
  font-size: 1rem;
  text-align: center;
}

.home-logged-div {
  color: white;
}

.home-login-div p {
  color: white;
}

button {
  background: green;
  width: 75px;
  height: 23px;
  text-align: center;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
}

.video-container {
  height: 600px;
  width: 70%;
  position: relative;
  overflow: hidden;
  color: white;
  background: black;
}

.video-container video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  /* opacity: 1; */
}

.text-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

.moving-text {
  display: flex;
  gap: 50px; /* spacing between h2s */
  white-space: nowrap;
  color: white;
  animation: scrollText 10s linear infinite;
}

.moving-text h2 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 8px #b0a5a5;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hello-div {
  position: absolute;
  top: 20px;
  left: 15px;
  background: black;
  color: white;
  z-index: 2;
  padding: 10px;
  height: 100px;
  margin-top: 2%;
  border-radius: 20px;
  max-width: 95%;
}

.hello-loggedin {
  padding: 10px auto;
  display: flex; 
  justify-content:space-between;
  height: 100%;
}

.hello-loggedin > p {
  font-size: 1.8rem; 
  margin-top: 30px;
  text-align: center;
  padding-top: 7px;
  padding-left: 10px;
  display: inline-block;
  width: 50%;
}

.click-here {
  background-color: black;
  color: white;
}

.footer {
  gap: 10px; 
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.footer > h3 {
color: #60B5FF;
}

.footer > a {
font-size: 1.1rem;
text-decoration: none;
color: #BDDDE4;
}

.footer > a:hover {
color: #fff;
text-decoration: underline;
text-underline-offset: 2px;
}

.home-login {
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
}

.home-login:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 43px;
  right: -10px;
  transition: 0.5s;
}

.home-login:hover {
  padding-right: 24px;
  padding-left:8px;
}

.home-login:hover:after {
  opacity: 1;
  right: 100px;
}

.footer-div {
  gap: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.footer-first {
  border: 3px solid #2C2C2C;
  border-bottom: 1px dotted #2C2C2C;
  padding: 30px;
  background: black;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  gap: 0;
  margin-bottom: 0;
  width: 80%;
  border-radius: 10px 10px 0 0;
}

.footer-first > h3 {
  font-size: 3rem;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.footer-links {
  padding-top: 30px;
  height: 250px;
  background: black;
  margin-top: 0;
  gap: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  border: 3px solid #2C2C2C;
  border-top: 0;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.footer-last {
  border: 3px solid #2C2C2C;
  border-top: 1px dashed #2C2C2C;
  border-bottom: 0;
  overflow: hidden;
  gap: 0;
  margin-bottom: 0;
  height: 100px;
  position:relative;
  text-align: "center";
  width: 100%;
  background: black;
}

.footer-last > h1 {
  height: 99px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9rem;
  color: #FFEDFA;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  padding: 0 20px;
  line-height: 1.2;
  margin: 0;
}

.draw-circle-container {
  border-radius: 20px;
  display: grid;
  place-items: center;
  background-color: #064e3b; /* Equivalent to bg-emerald-950 */
  padding: 5rem; /* Equivalent to px-4 py-24 */
  color: white; /* Equivalent to text-yellow-50 */
  min-height: 30vh; /* Ensure the container takes the full height of the screen */
}

.draw-circle-text {
  width: 80%;
  /* max-width: 40rem; Equivalent to max-w-2xl */
  text-align: center;
  font-size: 1.8rem; /* Equivalent to text-5xl (adjusted for larger text) */
  line-height: 1.4; /* Equivalent to leading-snug */
  position: relative; /* Needed to position the circle behind the text */
}

.draw-circle-span {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.draw-circle-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  z-index: 0;
  height: 90px;
  width: 210px;
}

@media (max-width: 430px) {

  .div-one, .div-two, .div-three, .video-container, .footer-div {
    width: 80%;
  }

  .div-two > h1 {
    width: 100%;
    margin: 0;
  }

  .div-three {
    height: 300px;
  }

  .div-three > p {
    width: 90%;
    margin: 22px auto;
  }

  .hello-div{
    height: 70px;
    top : 10px;
    left : 0;
  }

  .hello-loggedin {
    width: 100%;
    height: 100%;
  }

  .hello-loggedin > p {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 1.5rem;
  }

  .footer > h3 {
    font-size: 1.3rem;
  }
  .footer > a {
    font-size: 1.1rem;
  }

  .footer-first {
    width: 80%;
    border-bottom: 1px dashed #2C2C2C;
  }

  .footer-first > h3 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .footer-links {
    height: 230px;
  }

  .footer-last > h1 {
    height: 80px;
    font-size: 7rem;
  }
}