.headerContainer {
    position: fixed;
    left: 15%;
  	margin: 0 auto;
    width: 67%;
    height: 50px;
    margin-top: 10px;
    display: flex;          /* Flexbox container for alignment */
    justify-content: space-between; /* Distributes space between left and right sections */
    align-items: center;    /* Centers items vertically */
    padding: 0 20px;        /* Optional: adds some padding to the sides */
    border: 2px solid #2c2c2c;
	background: black;
	border-radius: 15px;
    z-index: 999;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;              /* Adds space between links */
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
  
  .navList li {
    display: inline;
    height: 100%;
  }
  
  .navList li a {
    text-decoration: none;  /* Removes underline */
    color: inherit;
  }
  
  .navList li a:hover {
    color: white  /* Optional: Change color on hover */
  }
  
  .underline-hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
  }
.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(141, 229, 141);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
  
.underline-hover:hover::after {
  transform: scaleX(1);
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  text-emphasis: bold;
  margin: 7px ;
  border-radius: 5px;
  border: 1px solid pink;
  background: #F7374F;
  height: 30px;
  width: 90px;
}
.logout-btn:hover {
  background: #7D0A0A;
}

img {
  margin-left: 5px;
  top: 20px;
  height: 20px;
}
.logo-li:hover::before {
  opacity: 1;
  animation: move-beam 2s linear infinite;
}

@keyframes move-beam {
  0% {
    top: 0;
    left: -100%;
    transform: rotate(0deg);
  }
  25% {
    top: 0;
    left: 0;
    transform: rotate(90deg);
  }
  50% {
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }
  75% {
    top: 0;
    left: 0;
    transform: rotate(270deg);
  }
  100% {
    top: 0;
    left: 0;
    transform: rotate(360deg);
  }
}

@media (max-width: 430px) {
	.headerContainer {
		width: 90%;
		margin: 10px auto;
		left: 20px;
		padding: 0;
	}
}