.container {
    display: flex;
    background-color: #0f0f0f;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px; 
    color: black;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    height: 100vh; /* Full viewport height */
}

.container:before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.Register-div {
    /* height: 45%; */
    background: #222222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    box-shadow: 0 0 20px #191818;
}

.register-input {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 10px auto;
}

input:focus {
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
}

.label-text {
    display: block;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

p {
    width: 100%;
    color: grey;
} 

p > a {
    text-decoration: underline;
    color: rgb(42, 42, 42);
}

@media (max-width :430px) { 
    .Register-div{
        width: 60vw;
    }
}