.container {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    height: 100vh; /* Full viewport height */
}


.Register-div {
    /* height: 45%; */
    background: #222222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    box-shadow: 1px 1px 7px #b5f8ad;
}

.Register-div span {
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.Register-div span:hover {
    cursor: pointer;
    color: rgb(187, 225, 213);
}

.register-input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid transparent;
    border-radius: 5px;
}

.register-input:focus {
    outline: none;
    border: 1px solid rgb(184, 183, 183);
    /* border-radius: 5px; */
}

.label-text {
    display: block;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

p {
    width: 100%;
    color: grey;
} 

p > a {
    text-decoration: underline;
    color: rgb(42, 42, 42);
}

@media (max-width :500px) { 
    .Register-div, .container{
        width: 70vw;
        margin: 0 auto;
    }
}