body {
  color: white;
}

.dashboard-div {
  padding-top: 90px;
  min-height: 110vh;
  background-color: #0f0f0f;
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 20px 20px;
  position: relative;
  overflow: hidden;
}

.dashboard-div::before,
.dashboard-div::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

.dashboard-div::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.dashboard-div::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.dashboard-heading {
  padding-bottom: 20px;
  text-align: center;
  margin: 10px auto 20px auto;
  width: 60%;
  color: white;
  font-size: 3rem;
}

.dashboard-heading span {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 1.5rem;
}

.hover-card-container {
  background: black;
  border: 1px solid #2C2C2C;
  border-radius: 20px;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 30px;
}

.dashboard-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  width: 70%;
  border: 1px solid pink;
  border-radius: 20px;
  background: black;
  height: 50vh; 
}

.user-details {
  display: flex;
  flex-direction: column;
  color: white;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  /* height: 60vh; */
}

.user-info-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #2C2C2C;
  width: 60%;
  padding: 7px;
  margin: 25px auto;
  border: 2px solid #DDE6ED;
  border-radius: 20px;
}

.user-info-text {
  height: 45%;
  width: 90%;
  margin: 0 auto;
}

.user-info-text p {
  width: 100%;
  text-align: left;
  color: white;
}

.user-info-text strong {
  color: lightblue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.delete-btn {
  text-transform: none;
  background: #E14434;
  padding: 10px 7px;
}

.img-container {
  border-left: 2px solid #2c2c2c;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.update-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #2C2C2C;
  height: 50%;
  width: 100%;
}

.update-section h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

.update-section span {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.update-btn {
  background: #547792;
  color: white;
  margin: auto;
  height: 40px;
  width: 75px;
}

.avatar-upload {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 20px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.avatar-upload h3 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.4rem;
  height: 10%;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  font-weight: 800;
}

.avatar-upload span {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.avatar-box {
  width: 60%;
  border: 2px solid #2C2C2C;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.dashboard-input {
  padding: 0;
  opacity: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.file-label {
  max-width: 120px;
  background-color: #2c2c2c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 5px auto;
}

.preview-image {
  margin: 10px auto;
  height: 70px;
  width: 70px;
  padding: 2px;
  border: 2px solid green;
  border-radius: 50%;
}

.avatar-img {
  margin-top: 10px;
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 50%;
}

.hover-buttons {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px dashed white;
  background-color: #5a70ae;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
}

.hover-buttons:hover {
  transform: translate(-4px, -4px);
  border-radius: 0.375rem;
  box-shadow: 4px 4px 0 rgb(255, 255, 255);
}

.hover-buttons:active {
  transform: translate(0px, 0px);
  border-radius: 1rem;
  box-shadow: none;
}

.welcome-msg {
  text-align: center;
  background: white;
  color: black;
  height: 50px;
  width: 200px;
  position: absolute;
  bottom: 30px;
  right: 80px;
}
