body {
    color: white;
}

.dashboard-div {
    padding-top: 90px;
    height: 89vh;
    background-color: #0f0f0f;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px; 
}

.dashboard-div::before,
.dashboard-div::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.dashboard-div::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.dashboard-div::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.dashboard-container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    height: 60%;
    width: 70%;
    border: 1px solid pink;
    border-radius: 20px;
    background: black;
}

/* h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px auto;
} */

strong {
    width: 200px;
}

.user-details {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    color: white;
    width: 50%;
    margin: 0 auto;
    
}

.user-details > p {
    margin: 5px auto;
    display: inline-block;
    width: 50%;
}

.img-container {
    border-left: 2px dashed #2c2c2c;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-input  {
    margin: 5px;
}

.dashboard-button {
    margin: 0 auto;
    width: 100px;
    height: 40px;
}

.preview-image {
    margin: 10px auto;
    height: 120px;
    width: 120px;
    padding: 2px;
    border: 2px solid green;
    border-radius: 50%;
}

.avatar-img {
    margin-top: 10px;
    height: 120px;
    width: 120px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 50%;
}