.login{
    height: 100vh;
    background-color: #0f0f0f;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px; 
}

.login::before,
.login::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.login::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.login::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

.login-container {
    display: flex;
    color: black;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    height: 100vh; /* Full viewport height */
}

.Login-div {
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222222;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    box-shadow: 0 0 20px #191818;
}

.login-form {
    height: 60%;
}

.login-header {
    color: white;
    top: 5px;
    margin-bottom: 20px;
}

.login-input {
    /* text-align: center; */
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    display: block;
    margin: 0 auto;
}

.label-text {
    text-align: center;
    display: block;
    margin: 10px 0;
}

.btn-grad {background-image: linear-gradient(to right, #90C67C 0%, #78ec76  51%, #90C67C  100%)}
.btn-grad {
    height: 40px;
    width: 90px;
   margin: 10px;
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 10px;
   margin-top: 20px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #FFF;
   text-decoration: none;
 }


.login-p {
    color: grey;
} 


.login-p > a {
    text-decoration: underline;
    color: rgb(42, 42, 42);
}

@media (max-width :430px) { 
    .Login-div {
        width: 60vw;
    }
}