* {
    font-family: monospace;
    /* max-height: 200vh; */
}

:root {
    background: #121212;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    /* max-height: fit-content; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.dark-mode {
    background: #121212;
    color: #ffffff;
}
