.containerStyle {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

.headingStyle{
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.itemStyle{
    background: black;
    margin: 20px auto;
    text-align: left;
    width: 90%;
    border: 1px solid #2C2C2C;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
}

.questionStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.answerStyle {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
}

.answerStyle.open {
    max-height: 500px; /* large enough to accommodate most answers */
    opacity: 1;
    margin-top: 10px;
}

@media (max-width :430px) {
    .headingStyle {
        font-size: 2rem;
    }

    .itemStyle {
        width: 100%;
    }

	.questionStyle {
		font-size: 15px;
	}

	.answerStyle {
		font-size: 14px;
	}

}